.text-center{
    text-align:center;
}
.w-40{
    width: 60px !important;
}
.w-60{
    width: 60px !important;
}
.margin-left{
    margin-left:15px;
}
.border-shadow{
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5); padding: 5px;
}
/* input { text-transform: capitalize }
input[type="email"] {
    text-transform: none !important; 
}
textarea{
    text-transform: capitalize !important;
   } */
.font-size{
    font-size:11px;
}
.custom-input{
    font-size: 10px;height: 13px; border: 1px solid rgba(0, 0, 0, 0.4) !important;
}
.custom-height{
    height: 35px !important;
}

.div-width {
    width: 80%;
}

.input-width{
    width: 100%;
}

span.invalid-feedback.d-block{ float: left;}

.input-field{
    float: left;
    width: 80%;
}
.steric{
    color: red;
    font-weight: 900;
}

.img-pop{
    max-width: 150px;
}

.coupend .dic_cop {
    float: left;
    width: 100%;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    overflow: hidden;
}
.coupend .dic_cop input {
    height: 50px;
    border: none;
    width: 51%;
    padding: 0 15px;
}
.coupend .dic_cop .btn.btn_blue {
    height: 40px;
    width: 155px;
    float: right;
    margin: 5px 10px 5px 0;
    /* background: #00b4d2 url(../images/arrow-right.svg) no-repeat; */
    background-position: 126px 12px;
    text-align: left;
    padding: 0 0 0 25px;
}


.menu-item.active svg path{ fill: #696cff;}

  .loader-wrapper {
            position: fixed;
            z-index: 999999;
            background: #3f3f3f59;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }

        .loader-wrapper .theme-loader {
            height: 100px;
            width: 100px;
            position: relative;
        }

        .loader-wrapper .theme-loader .loader-p {
            border: 0 solid transparent;
            border-radius: 50%;
            width: 150px;
            height: 150px;
            position: absolute;
            top: calc(50vh - 75px);
            left: calc(50vw - 75px);
        }

        .loader-wrapper .theme-loader .loader-p:before {
            content: "";
            border: 1em solid #14bedb;
            border-radius: 50%;
            width: inherit;
            height: inherit;
            position: absolute;
            top: 0;
            left: 0;
            -webkit-animation: loader 2s linear infinite;
            animation: loader 2s linear infinite;
            opacity: 0;
            -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
        }

        .app-brand.demo {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }

        .loader-wrapper .theme-loader .loader-p:after {
            content: "";
            border: 1em solid #14bedb;
            border-radius: 50%;
            width: inherit;
            height: inherit;
            position: absolute;
            top: 0;
            left: 0;
            -webkit-animation: loader 2s linear infinite;
            animation: loader 2s linear infinite;
            opacity: 0;
        }

        @-webkit-keyframes loader {
            0% {
                -webkit-transform: scale(0);
                transform: scale(0);
                opacity: 0;
            }

            50% {
                opacity: 1;
            }

            100% {
                -webkit-transform: scale(1);
                transform: scale(1);
                opacity: 0;
            }
        }

        @keyframes loader {
            0% {
                -webkit-transform: scale(0);
                transform: scale(0);
                opacity: 0;
            }

            50% {
                opacity: 1;
            }

            100% {
                -webkit-transform: scale(1);
                transform: scale(1);
                opacity: 0;
            }
        }

        /* Customize toastr notification styles */
        .toast {

            margin-top: 10px !important;
            background-color: #4CAF50 !important;
            /* Set your desired background color */
            color: #fff !important;
            /* Set the text color to ensure visibility */
            /* white-space: nowrap !important; 
             overflow: hidden !important; */
        }

        .toast-error {
            background-color: #dc3545 !important;
            color: #fff !important;
            /* width: 370px !important; */
        }

        .toast-info {
            background-color: #17a2b8 !important;
            color: #fff !important;
            /* Set the text color to ensure visibility */
            /* white-space: nowrap !important;
            overflow: hidden !important; */
        }

        .toast-warning {
            background-color: #dc3545 !important;
            /* Red color for delete */
        }
        .list-unstyled li{
            margin-bottom: 15px;
        }